<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-StudioReservation-20240703074957.mdf;Initial Catalog=aspnet-StudioReservation-20240703074957;Integrated Security=True"
      providerName="System.Data.SqlClient" />  ori      -->
		<add name="DefaultConnection" connectionString="Data Source=118.178.233.23;Initial Catalog=aspnet-StudioReservation-20240703074957;User ID=quah;Password=quah123;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>